apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: simple-nodejs-app-tmnn
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: simple-nodejs-app-tmnn
    app.kubernetes.io/part-of: nodejs-users
  name: simple-nodejs-app-tmnn
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: simple-nodejs-app-tmnn
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: simple-nodejs-app-tmnn
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/e2e-demos-dpwe-tenant/nodejs-users/simple-nodejs-app-tmnn@sha256:1f0189c976fee5cd566061b2414bf428c4c682dcf3d70a12881ebe275bb765cc
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
