apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: simple-nodejs-app-tmnn
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/e2e-demos-dpwe-tenant/nodejs-users/simple-nodejs-app-tmnn@sha256:1f0189c976fee5cd566061b2414bf428c4c682dcf3d70a12881ebe275bb765cc
        name: my-nodejs
        resources: {}
status: {}
